<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#MIDIFlip - Web tool for automatically flipping and playing MIDI-files</title>
    <meta name="description" content="A MIDIFlip is a process where every note of a MIDI-file is &quot;flipped&quot; around the first note. Creating amazingly (or dreadfully) sounding new music!" />
    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    @Styles.Render("~/Content/basecss")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Raleway" rel="stylesheet">
    @RenderSection("css", required: false)
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/basejs")
    @RenderSection("scripts", required: false)
</body>
</html>
